<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Everlasting Wardrobe Recommendation System</title>
  <!-- Bootstrap core CSS-->
  {% load staticfiles %}
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href='{% static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href='{% static "vendor/datatables/dataTables.bootstrap4.css" %}' rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href='{% static "css/sb-admin.css" %}' rel="stylesheet">
  <link href='{% static "css/new_button.css" %}' rel="stylesheet">
  <style>
    .hand{cursor:pointer;}
    .noborder{border:none; background:none; outline:none;}
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <img src='{% static "image/brand.png" %}' width="48" height="48" alt="">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Recommendation System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Class A: Basic Information">
          <a class="nav-link" href="/classA">
            <i class="fa fa-fw fa-user-o"></i>
            <span class="nav-link-text">Class A: Basic Information</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Class B: Rating">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            <span class="nav-link-text">Class B: Rating</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Class B</a>
        </li>
        <li class="breadcrumb-item active">Rating Filter</li>
      </ol>
      <!-- Icon Cards-->
    <form action = "/classB/" method = "post">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-file-text-o"></i>
              </div>
              <div class="mr-5">Product ID</div>
            </div>
            <span class="card-footer text-white clearfix small z-1" href="#">
              <!-- <span class="float-left">View Details</span> -->
              <input class="form-control" type="text" placeholder="Test for..." name="product" required="required">
              <span class="float-right">
                <!-- <i class="fa fa-angle-right"></i> -->
              </span>
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-thumbs-o-up"></i>
              </div>
              <div class="mr-5">Fit Rating</div>
            </div>
            <span class="card-footer text-white clearfix small z-1" href="#">
              <!-- <span class="float-left">View Details</span> -->
              <select class="form-control" name="fit">
                <option value= "-2">Excessively Small</option>
                <option value= "-1">Too Small</option>
                <option value= "0" selected = "selected">Perfect</option>
                <option value= "1">Too Big</option>
                <option value= "2">Excessively Big</option>
              </select>
              <span class="float-right">
                <!-- <i class="fa fa-angle-right"></i> -->
              </span>
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list-ol"></i>
              </div>
              <div class="mr-5">Style Rating</div>
            </div>
            <span class="card-footer text-white clearfix small z-1" href="#">
              <!-- <span class="float-left">View Details</span> -->
              <select class="form-control" name="style">
                <option value= "5">5</option>
                <option value= "4">4</option>
                <option value= "3">3</option>
                <option value= "2">2</option>
                <option value= "1">1</option>
                
              </select>
              <span class="float-right">
                <!-- <i class="fa fa-angle-right"></i> -->
              </span>
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-cog"></i>
              </div>
              <div class="mr-5">Test</div>
            </div>
            <span class="card-footer text-white clearfix small z-1" href="#">
              <!-- <span class="float-left">View Details</span> -->
              <button class="hand form-control" type="submit" style="font-family: Courier">GO!</button>
              <span class="float-right">
                <!-- <i class="fa fa-angle-right"></i> -->
              </span>
            </span>
          </div>
        </div>
      </div>
    </form>
      
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
         
          <i class="fa fa-table"></i> Testee &nbsp;
          <a href="/classB"><i class="fa fa-refresh"></i></a>
         
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Fit Rating</th>
                  <th>Style Rating</th>
                  <th>Picture</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th>Product ID</th>
                  <th>Gender</th>
                  <th>Size</th>
                  <th>Min tmp</th>
                  <th>Max tmp</th>
                  <th>Picture</th>
                </tr>
              </tfoot> -->
              <tbody>
                {% for line in data %}
                <tr>
                    <td>{{ line.productid }}</td>
                    <td>{{ line.fitrating }}</td>
                    <td>{{ line.stylerating }}</td>
                    <td><button class="table-responsive button button-rounded button-tiny" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-video-camera"></i>
                        </button></td>
                    <form action = "/classB/" method = "post">
                        <td><button class="table-responsive button button-rounded button-tiny"><i class="fa fa-fw fa-trash"></i></button></td>
                        <input name="number" type="hidden" value={{ line.num }}>
                    </form>
                </tr>
                {% endfor %}              
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
      </div>
    

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Result</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Gender</th>
                  <th>Size</th>
                  <th>Min tmp</th>
                  <th>Max tmp</th>
                  <th>Picture</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Product ID</th>
                  <th>Gender</th>
                  <th>Size</th>
                  <th>Min tmp</th>
                  <th>Max tmp</th>
                  <th>Picture</th>
                </tr>
              </tfoot>
              <tbody>

                <!-- <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr> -->
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Everlasting Wardrobe 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <form action = "/" method = "get">
            <button class="btn btn-primary" type="submit">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Example</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">No picture available now.</div>
        </div>
      </div>
    </div>
    

    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <!-- <script src="../staticfiles/vendor/jquery/jquery.min.js"></script>
    <script src="../staticfiles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- Core plugin JavaScript-->
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>
<!--     <script src="../staticfiles/vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <!-- Page level plugin JavaScript-->
    <script src='{% static "vendor/chart.js/Chart.min.js" %}'></script>
    <script src='{% static "vendor/datatables/jquery.dataTables.js" %}'></script>
    <script src='{% static "vendor/datatables/dataTables.bootstrap4.js" %}'></script>
    <!-- <script src="../staticfiles/vendor/chart.js/Chart.min.js"></script>
    <script src="../staticfiles/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../staticfiles/vendor/datatables/dataTables.bootstrap4.js"></script> -->
    <!-- Custom scripts for all pages-->
    <script src='{% static "js/sb-admin.min.js" %}'></script>
    <!-- <script src="../staticfiles/js/sb-admin.min.js"></script> -->

    <!-- Custom scripts for this page-->
    <script src='{% static "js/sb-admin-datatables.min.js" %}'></script>
    <!-- <script src="../staticfiles/js/sb-admin-datatables.min.js"></script> -->

    <script src='{% static "js/sb-admin-charts.min.js" %}'></script>


  </div>
</body>

</html>
