<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1 style = "background-color: antiquewhite; color:black;">Please input:</h1>
    <form action = "/index/" method = "post">
        <label for="text" class="sr-only">Size:</label>
        <select name="size">
            <option value= "1">4T</option>
            <option value= "2">4Y</option>
            <option value= "3">6Y</option>
            <option value= "4">7Y</option>
            <option value= "5">3T</option>
            <option value= "6">12Y</option>
            <option value= "7">5Y</option>
            <option value= "8">6X</option>
            <option value= "9">2T</option>
            <option value= "10">8</option>
            <option value= "11">0-3mo</option>
            <option value= "12">3-6mo</option>
            <option value= "13">12-18mo</option>
            <option value= "14">6-12mo</option>
            <option value= "15">18-24mo</option>
            <option value= "16">2Y</option>
            <option value= "17">3Y</option>
            <option value= "18">8-12mo</option>
            <option value= "19">4-5Y</option>
            <option value= "20">12mo</option>
            <option value= "21">18mo</option>
            <option value= "22">6mo</option>
            <option value= "23">9mo</option>
            <option value= "24">10Y</option>
            <option value= "25">6-8Y</option>

        </select>


        <label for="text" class="sr-only">Gender:</label>
        <select name="gender">
                <option value= "1">Boy</option>
                <option value= "2">Girl</option>
                <option value= "3">Unisex</option>
        </select>

        <label for="text" class="sr-only">Region:</label>
        <input type = "text" name = "region"/>

        <input type = "submit" name = "Search"/>
    </form>
    <hr/>
    <h1 style = "background-color: antiquewhite; color:black;">Result:</h1>
    <table border = "1">
        <thead>
            <th>ItemID</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.itemid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>